extends ../templates/layout.pug

block body
	h1.text-center dashboard
	div.container
		div.row
			div.col.bg-light
				h2 Newsletter
				p Nombre d'inscrit:  #{count}
				p Dernier inscrit:  #{email}
				button.btn.btn-primary.mx-auto(onclick="window.location = '/newsletter'") Plus

			div.col.bg-light.text-center
				h2 Fréquenation
				form(method="post" action="/freq/set")
					h3.py-2.mx-3#freq
					input(type="text" name="freq")
					input(type="submit" value="Mettre à jour")
		div.row.p-3
			div.col.p-3.bg-light.text-center
				h2 Twitter
				h3 last tweet
				h3 last retweets
				button.btn.btn-primary.mx-auto() Plus
		div#root
					