doctype html
html
	head
		title eure-admin
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="/index.style.css")
	body
		div.container
			div.row.text-center.m-5
				button.btn.btn-primary.mx-auto(onclick="window.location = '/auth/facebook'") connexion facebook
			div.row.text-center.m-5
				button.btn.btn-success.mx-auto(onclick="window.location = '/auth/twitter'") connexion twitter

		script(src="/index.js")