doctype html
html
	head
		title eure-admin
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="/index.style.css")
	body
		nav.navbar.navbar-expang-lg.nav-light.bg-light
			a.navbar-brand(href="http://www.eurekafe.fr" target="_blank" rel="noopener") Eurekafe
			button.btn.btn-danger(onclick="window.location='/logout'") logout

		block body

		script(src="/index.js")